@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap');

/*body*/
main{
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    padding-top: 15vh;
    padding-bottom: 20vh;
}
/*articles*/
section{
    display: flex;
}
#artigos{
    width: 100vw;
    border-right: 2px solid white;
    margin-top: 8vh;
}
article{
    width: 98%;
    border-radius: 0.4rem;
}
article h1{
    text-align: center;
    margin-bottom: 5vh;
}
#a-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    padding: 10vh 11vw;
}
#a-2{
    padding: 10vh 11vw;
}
#artigos h2{
    margin-top: 4vh;
}
/*aside*/
#socialMidias{
    padding: 12vh 4vw;
}
#socialMidias ul{
    list-style: none;
}
aside a{
    text-decoration: none;
    color: white;
    font-size: 1vw;
}
aside a:hover{
    text-decoration: underline;
}
aside li{
    margin: 4vh;
}
#socialMidias img{
    width: 40px;
    height: 40px;
}
#topicos{
    padding: 0 4vw;
}
/*topo*/
#topo{
    position: fixed;
    bottom: .5vh;
    right: 1vw;
    width: 3vw;
    height: 6vh;
    background-color: rgba(255, 255, 255, 0.774);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    animation: float 1.5s infinite ease-in-out;
}
@keyframes float{
    0%{
        bottom: .5vh;
    }
    50%{
        bottom: 1.5vh;
    }
    100%{
        bottom: .5vh;
    }
}
#topo i{
    color: rgb(165, 42, 42);
    font-size: 1.8vw;
}
/*footer*/
footer{
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 0px 9px 3px #4d4d4df4;
    background-color: brown;
    bottom: 0;
    color: #e8e8e8f4;
    text-align: center;
    font-weight: bold;
    width: 99.2vw;
    padding: 1vh 0;
}
