article{
    width: 98%;
    background-color: aliceblue;
    border-radius: 0.4rem;
}
article h1{
    margin-bottom: 3rem;
    text-align: center;
}
#a-1{
    margin-top: 3rem;
    padding: 5rem 18rem;
}
#a-2{
    padding: 5rem 25rem;
}
.table{
    width: 90%;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 0.4rem;
}
section{
    height: 400vh;
}