article{
    width: 98%;
    background-color: aliceblue;
    border-radius: 0.4rem;
}
article h1{
    text-align: center;
}
#a-1{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25vh;
    padding: 0 15vw;
}
#a-2{
    padding: 5rem 25rem;
}
.table{
    width: 90%;
    max-height: 90vh;
    overflow-y: scroll;
    border-radius: 0.4rem;
}
section{
    height: 400vh;
}
#table h1{
    color: white;
    margin-bottom: 2vh;
}